.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  padding: 10px;
  color: #4a4141;
}
.not-image {
  width: 500px;
  height: 600px;
}
@media screen and (max-width: 768px) {
  .not-found-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 10px;
    color: #4a4141;
  }
  .not-image {
    width: 400px;
    height: 500px;
  }
}
